# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

#configs
next.config.js
tsconfig.json
package.json
package-lock.json
env-typings.json
env.d.ts
next-env.d.ts
.gitignore
.eslintrc.json
.editorconfig
.prettierrc
